*{
box-sizing: border-box;
}

body{
    background: #FFF url(https://www.tastingtable.com/img/gallery/why-you-should-pay-attention-to-the-tail-of-your-watermelon/l-intro-1655671940.jpg) no-repeat center center;
    background-size: cover;
}

/* My Page Styles */
.hero h1{
    color: #EF2826;
    font-size: 60px;
}

#intro{
    color: green;
    font-size: 30px;
}

.mainp{
    font-size: 20px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.caption{
    font-size: 40px;
}

div.container{
    text-align: center;
}

.bottom_links{
    display: inline-block;
    text-align: center;
}

li{
    list-style: none;
}

.bottom_3_links{
    color: blue;
    font-size: 25px;
    font_weight: bold;
    display: inline-block;
    width: 33%;
    text-decoration: none;
    text-align: center;
}

.link{
    color: blue;
    font-size: 25px;
    font-weight: bold;
    display: inline;
    text-decoration: none;
}

.link a{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
